[Unit]
Description=Check hourly for an overdue Weazlback backup

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
Persistent=true
AccuracySec=1min
Unit=weazlback-backup.service

[Install]
WantedBy=timers.target
